@import '../../Base.scss';

.form{
    font-size: $size-label;
    margin:3rem auto;
    flex-direction: column;
    max-width:600px;
    height: fit-content;
    display:flex;
    gap:1rem;
    padding:2rem 2rem 4rem 2rem;
    background-color:$bg-color-greenish;
    border-radius: $border-standard-radius;

    .formItemContainer{
        margin:0 auto;
        min-width:50%;

        .formItem{
            padding:0.8rem 0;
            display: flex;
            gap:1rem;
            justify-content: space-between;

            input, select{
                border:none;
                border-radius: $border-standard-radius;
                height: 2rem;
                width:10rem;
                right:0;
            }

            .invalidInput{
                border-color:red;
            }
        }

        .errorMessage{
            font-size:$size-small;
        }

        .submitButtonContainer{
            display:flex;
            justify-content: flex-end;
        }
    }

}
@media only screen and (max-width: 650px) {
    .formItemContainer{
        min-width: 80% !important;
    .formItem{
        flex-direction: column;
        gap:0.2rem !important;
        width:100%;

        input, select{
            width:100% !important;
            position:static !important;
        }
    }
    .submitButton{
        width:90% !important;
        margin:1rem auto 0 auto;
    }
}
}


