@import '../../Base.scss';

.allItemsContainer{
    background-color:$bg-color-greenish;
    padding:2rem;
    max-width:600px;
    min-height:200px;
    margin: 0 auto;
    border-radius: $border-standard-radius;

    .heading{
        margin:0 auto;
        width:fit-content;
    }

    .filter{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap:0.5rem;
    }
}
