@import '../../Base.scss';

.allItemsContainer{
    background-color: $bg-color-orange;
    padding:2rem;
    max-width:600px;
    min-height:200px;
    margin: 0 auto;

    .heading{
        margin:0 auto;
        width:fit-content;
    }

    .filter{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap:0.5rem;
    }
}

// @media only screen and (max-width: 650px) {
//     .filter{
//         flex-direction: column;
//     }
// }