@import  "./Base.scss";

*{
  box-sizing:border-box;
  font-family:$font-main;
}

.app{
  background-image: url(https://images.unsplash.com/photo-1587486937303-32eaa2134b78?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=881&q=80);
  padding:5rem 2rem;
  .heading{
    margin:0 auto;
    width: fit-content;
    font-family: $font-heading-contrast;
    font-size: $size-heading-big-clamp;
  }
}

