@import "../../Base.scss";

.button{
    font-size: $size-medium;
    width:5rem;
    padding:0.3rem;
    background-color: white;
    border: 1px solid $border-color-gray;
    border-radius: $border-standard-radius;
}